<div class="calendar-container">
  <div class="header">
    <h2 class="mr-4 d-none d-md-block">
      <strong>{{ date | date: "yyyy MMMM" }}</strong>
    </h2>
    
    <!-- set month -->
    <mat-form-field class="mr-3">
      <mat-label (click)="dpMonth.open()">Set month</mat-label>
      <input
        readonly
        matInput
        [placeholder]="(currentMonth + 1).toString()"
        (click)="dpMonth.open()"
      />
      <input hidden matInput [matDatepicker]="dpMonth" [(ngModel)]="date" />
      <mat-datepicker
        #dpMonth
        startView="year"
        (monthSelected)="chosenMonthHandler($event, dpMonth)"
        panelClass=""
      >
      </mat-datepicker>
    </mat-form-field>

    <!-- set year -->
    <mat-form-field class="mr-4">
      <mat-label (click)="dpYear.open()">Set year</mat-label>
      <input
        readonly
        matInput
        [placeholder]="currentYear.toString()"
        (click)="dpYear.open()"
      />
      <input
        hidden
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="dpYear"
        [(ngModel)]="date"
      />
      <mat-datepicker
        #dpYear
        startView="multi-year"
        (yearSelected)="chosenYearHandler($event, dpYear)"
        panelClass=""
      >
      </mat-datepicker>
    </mat-form-field>
    
    <div class="d-flex justify-content-center">

      <!-- previous month -->
      <button
        [disabled]="
          minDate && currentYear <= minDate.getFullYear() && currentMonth == 0
        "
        class="mr-2"
        mat-fab
        (click)="setMonth(-1)"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <!-- next month -->
      <button
        [disabled]="
          maxDate && currentYear <= maxDate.getFullYear() && currentMonth == 11
        "
        mat-fab
        (click)="setMonth(+1)"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>

  <!-- calendar container -->
  <div class="card shadow">
    <mat-list #shoes class="d-flex">
      <mat-list-item class="list-item" *ngFor="let day of week">
        <span class="day">{{ day }}</span>
      </mat-list-item>
    </mat-list>

    <mat-selection-list #shoes [multiple]="false" class="d-flex flex-wrap">
      <mat-list-option
        [disabled]="day.events?.length ? false : true"
        (click)="openDialog(day)"
        class="list-option"
        *ngFor="let day of dates"
        [value]="dates"
      >
        <span class="day" [ngClass]="{ grey: !isSameMonth(day.date) }">{{
          day.date | date: "d"
        }}</span>
        <ng-container *ngIf="day.events">
          <p
            [matTooltip]="getShortTitle(event)"
            matTooltipClass="tooltip-class"
            class="event"
            *ngFor="let event of day.events"
          >
            {{ event.team1 + " x " + event.team2 }}
          </p>
        </ng-container>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
